<h1>
  Text example for performance tests
</h1>

<p>
  You can use /edit/filename of /view/filename for open files.
</p>
<p>For example, try to open example files</p>
<a href="/edit/Document1.docx">Edit</a>
<a href="/view/Document1.docx">View</a>