<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' type="text/css" href='public/stylesheets/style.css'/>
    <script type="text/javascript" src="<%= documentServer %>/web-apps/apps/api/documents/api.js"></script>
    <script type="text/javascript" src="public/javascript/editor.js"></script>
    <script type="text/javascript" src="public/javascript/driver.js"></script>
    <script type="text/javascript" src="public/javascript/helper.js"></script>
    <script type="text/javascript" src="public/javascript/database.js"></script>
</head>
<body>
<div class="space">
    <div class="navigation">
        <a href="/results">results</a>
    </div>
    <div class="info">
        <div class="action-form">
            <div class="user_form">
                <label for="username">Username</label>
                <input placeholder="User name" id="username" autocomplete="off">
            </div>

            <div class="generation_form">
                <label for="start_from">Start from</label>
                <input placeholder="start from" id="start_from" autocomplete="off" value="0">
                <button onclick="paragraph_generate()">Generated documents: paragraph</button>
            </div>
            <button onclick="start_all()">Start all</button>
        </div>
    </div>
    <div id="editor">
        <div id="editor_frame"></div>
    </div>
</div>

<script>
    if (localStorage.getItem('username') !== '') {
        document.getElementById('username').value = localStorage.getItem('username');
    }
    function files_list() {
        return(JSON.parse(htmlDecode("<%= JSON.stringify(files) %>")))
    }

    function start_all() {
        localStorage.setItem('username', document.getElementById('username').value)
        let userName = localStorage.getItem('username')
        let driver = new Driver(new Editor({callback: "<%= exampleUrl %>", userName: userName}), {files: files_list()})
        driver.open_all().then(() => {console.log('Finish!')})
    }

    function paragraph_generate() {
        localStorage.setItem('username', document.getElementById('username').value)
        localStorage.setItem('start_from', document.getElementById('start_from').value)
        let userName = localStorage.getItem('userName')
        let start_from = localStorage.getItem('start_from')
        const option = {case: 'paragraphs', start_from: start_from}
        const editor = new Editor({callback: "<%= exampleUrl %>", userName: userName})
        let driver = new Driver(editor, option)
        driver.open_with_generate('paragraph').then(() => {console.log('Finish!')})
    }
</script>
</body>
</html>
