<html>
<head>
    <link rel="shortcut icon" href="../public/favicon.ico"/>
</head>
<body>
<div class="settings-form">

    <div class="form-block">
        <label>Default key</label>
        <input id="key" value="<%= key %>">
    </div>

    <div class="form-block">
        <label>Default username</label>
        <input id="username" value="<%= username %>">
    </div>
    <button onclick="save()">Save</button>
</div>

</body>
</html>
<script>
    function save() {

        const data = {
            username: document.getElementById('username').value,
            key: document.getElementById('key').value
        }
        return new Promise((succeed) => {
            let xhr = new XMLHttpRequest();
            xhr.open("POST", '/open/settings', true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify(data));
            xhr.onreadystatechange = (e) => {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    succeed(xhr.responseText)
                }
            }
        })
    }
</script>

<style>
    .settings-form {
        display: flex;
        width: 30em;
        flex-direction: column;
        margin: auto;
    }

    .form-block {
        display: flex;
        flex: 1;
    }

</style>