<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' type="text/css" href='public/stylesheets/style.css'/>
    <link rel='stylesheet' type="text/css" href='public/stylesheets/tabs.css'/>
    <script type="text/javascript" src="<%= documentServer %>/web-apps/apps/api/documents/api.js"></script>
    <script type="text/javascript" src="public/javascript/editor.js"></script>
    <script type="text/javascript" src="public/javascript/driver.js"></script>
    <script type="text/javascript" src="public/javascript/helper.js"></script>
    <script type="text/javascript" src="public/javascript/database.js"></script>
</head>
<body>

<div class="space">
    <div id="editor">
        <div id="editor_frame"></div>
    </div>
</div>

<style>
    div, body, html {
        height: 100%;
    }

</style>
<script>

    function files_list() {
        return (JSON.parse(htmlDecode("<%= JSON.stringify(files) %>")))
    }

    new Editor({
        callback: "<%= exampleUrl %>",
    }).open_and_wait(files_list())
</script>
</body>
</html>
