<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' type="text/css" href='public/stylesheets/style.css' />
  </head>
  <body>
  <div class="space">
    <div class="info">
      <div class="action-form">
        <div class="user_form">
          <input placeholder="User name" id="username">
          <button>save</button>
        </div>
        <button>Start all</button>
        <%= data %>
      </div>
    </div>
  </div>

  </body>
</html>
