body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

a {
  color: #00B7FF;
}

.space {
  display: flex;
  flex-direction: column;
}
.info {
  display: flex;
  flex: 1;
}

.navigation {
  display: flex;
}

.user_form {
  display: flex;
  margin: auto;
}

.header {
  display: flex;
  padding-bottom: 2em;
}

#start_from {
  width: 3em;
}